.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
    width: 25%;
  }
  
  .itemCenter {
      width: 50%;
  }
  
  .itemRight {
    width: 15%;
    float: right;
  }
  
  .navbar {
    background: orangered;
  }
  
  li {
    color: antiquewhite;
    padding: 15px 0;
  }
  
  body {
    font-size: 26px;
  }